Host {% for addressip in groups['monitoring'] %}{{ addressip }}
{% endfor %}
    HostName {% for addressip in groups['monitoring'] %}{{ addressip }}
{% endfor %}
    User git
    IdentityFile {{ssh_private_key}}
    IdentitiesOnly yes
